* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: lime;
  background: #010533;
  height: 100vh;
  width: 100vw;
}

.navigation {
  font-size: 18px;
  top: 0;
  left: 0;
  padding: 10px;
  padding-top: 20px;
  position: sticky;
  position: -webkit-sticky;
  background: #010533;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  z-index: 1;
  display: flex;
  align-content: center;
  align-items: center;
}

.heading {
  font-size: 26px;
}

.navigation li {
  list-style: none;
  display: inline;
}

.info {
  position: absolute;
  z-index: 8;
  padding: 2px;
  font-size: 12px;
  background: black;
  display: none;
}

li:hover .info {
  display: inline;
  color: red;
}

.d_and_t {
  color: red;
}

.code_here {
  margin: 15px;
  float: left;
  width: 47%;
  height: 85vh;
  background: black;
}

.compiler {
    margin: 10px;
    display: none;
}

.compile {
  position: sticky;
  z-index: 7;
  margin: 5px;
  padding: 10px;
  background: gray;
  color: white;
  align-items: center;
  border-radius: 20px 20px;
  display: none;
  border-width: 5px;
  border-color: lime blue;
}

.compile:hover {
  color: lime;
}

.save {
  display: none;
}

.output_here {
  margin: 15px;
  padding: 10px;
  height: 85vh;
  width: 47%;
  background: white;
  color: black;
}

#ta {
  padding: 10px;
  width: 100%;
  height: 100%;
  background: #36454f;
  color: white;
  font-size: 15px;
  resize: none;
  overflow-y: auto;
}
